<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/globals.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title><%= recipe.name %></title>
	</head>
	<body>
		<%- include('../partials/_navbar.ejs') %>
		<h1><%= recipe.name %></h1>
		<p><%= recipe.instructions %></p>
		<h2>Ingredients</h2>
		<ul>
			<% recipe.ingredients.forEach(ingredient => { %>
			<li><%= ingredient.name %></li>
			<% }) %>
		</ul>
	</body>
</html>
